html {
    overflow-y: scroll;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Lato", "dejavu sans", "bitstream vera sans", verdana, sans-serif;
    line-height: 1.5;
}

.container, .header h1 {
    width: 900px;
    margin: 0 auto;
}

.header {
    background-color: #EB6841;
    padding: 0.7em 0;
}

.header h1 {
    color: #EDC951;
}

h1, h1 a {
    font-family: "Lato", "dejavu sans", "bitstream vera sans", verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.alternate {
    color: #6A4A3C;
}

.container {
    padding-top: 1em;
}

.container, .container input {
    font-size: 16pt;
    font-family: "Lato", "dejavu sans", "bitstream vera sans", verdana, sans-serif;
}

.container input {
    margin: 0 1em;
}
